<div class="container-fluid">
    <div class="row">
      <div class="col s12 m3 l3 x12 perfil">
        <div class="foto">
        </div>
        <div class="nome-cargo">
          <h1>
            Tiago Jerônimo Duarte
          </h1>
          <p>
            Desenvolvedor Javascript
          </p>
        </div>
        <app-informations-perfil [description]="description" title="Descrição"></app-informations-perfil>
        <app-informations-perfil [isContact]="true" title="Contato"></app-informations-perfil>
        <app-informations-perfil [isSkills]="true" title="Habilidades"></app-informations-perfil>
      </div>
      <div class="col s12 x12 m9 l9 curriculum">
          <ul class="tabs">
              <li [ngClass]="experience ? 'tab col s12 x4 m3 l3 active' : 'tab col s12 x4 m3 l3'" (click)="showTab('experience')">Experiências</li>
              <li [ngClass]="formation ? 'tab col s12 x4 m3 l3 active' : 'tab col s12 x4 m3 l3'" (click)="showTab('formation')">Formação</li>
              <li [ngClass]="especialization ? 'tab col s12 x4 m3 l3 active' : 'tab col s12 x4 m3 l3'" (click)="showTab('especialization')">Especialização</li>
        </ul>
        <ng-template  [ngIf]="experience">
            <app-informations-experience title="Experiência"></app-informations-experience>
        </ng-template>
        <ng-template [ngIf]="formation">
            <app-informations-experience cursos="formation" title="Formação"></app-informations-experience>
        </ng-template>
        <ng-template [ngIf]="especialization">
            <app-informations-experience especializations="especialization" title="Especializações"></app-informations-experience>
        </ng-template>
      </div>
    </div>
  </div>
