<div  class="row contact-perfil">
    <div class="address">
        <div class="col s2 m2 x2 l2">
            <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="col s10 m10 x10 l10">
            Estrada Cristiano Kraemer, 900, Vila Nova /Porto Alegre - RS
        </div>
    </div>
    <a href="tel:+51985544673">
      <div class="col s2 m2 l2 x2">
        <i class="fas fa-phone-square"></i>
      </div>
      <div class="col s9 x9 m9 l9">
        (51) 98554-4673
      </div>
    </a>
    <a href="mailto:tiagojeronimod@gmail.com" target="_blank">
      <div class="col s2 m2 l2 x2">
        <i class="fas fa-envelope"></i>
      </div>
      <div class="col s9 x9 m9 l9">
        tiagojeronimod@gmail.com
      </div>
    </a>
    <a href="https://www.linkedin.com/in/tiagojeronimo/" target="_blank">
      <div class="col s2 m2 l2 x2">
        <i class="fab fa-linkedin-in"></i>
      </div>
      <div class="col s9 x9 m9 l9">
        /tiagojeronimo
      </div>
    </a>
    <a href="https://www.facebook.com/tiagojeronimod" target="_blank">
      <div class="col s2 m2 l2 x2">
        <i class="fab fa-facebook-f"></i>
      </div>
      <div class="col s9 x9 m9 l9">
        /tiagojeronimod
      </div>
    </a>
  </div>
