<h3 class="title-description">
  {{title ? title : ''}}
</h3>
<div class="information-perfil">
  <p class="description-perfil">
    {{description}}
  </p>
  <div *ngIf="isContact">
    <app-contact></app-contact>
  </div>
  <div *ngIf="isSkills">
    <app-skills></app-skills>
  </div>
</div>
