<div class="skills">
    <div class="col s12 m12 l12 x12 not-pad-left">
        <div class="element less">
            Less
        </div>
        <div class="element js">
            JS
        </div>
        <div class="element angular">
          Angular
        </div>
        <div class="element react">
            React
        </div>
        <div class="element native">
            React Native
        </div>
        <div class="element ionic">
            Ionic
        </div>
        <div class="element node">
            Node
        </div>
        <div class="element php">
            PHP
        </div>
    </div>
  </div>
