<h3 class="title-description">
  {{title ? title : ''}}
</h3>
<div class="information">
  <div class="formation">

    <ng-template [ngIf]="cursos">
      <table *ngIf="cursos" class="table responsive-table striped">
        <thead>
          <tr>
            <th>Curso</th>
            <th>Nível</th>
            <th>Status</th>
            <th>Inicio</th>
            <th>Conclusão</th>
            <th>Horas</th>
            <th>Instituição</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sistemas para internet</td>
            <td>Superior</td>
            <td>Cursando</td>
            <td>03/2017</td>
            <td>06/2020</td>
            <td>2800</td>
            <td>Unisul</td>
          </tr>
          <tr>
            <td>Web Designer</td>
            <td>Técnico</td>
            <td>Concluido</td>
            <td>11/2011</td>
            <td>08/2012</td>
            <td>800</td>
            <td>Senac</td>
          </tr>
          <tr>
            <td>Designer Gráfico</td>
            <td>Profissionalizante</td>
            <td>Concluido</td>
            <td>12/2012</td>
            <td>03/2013</td>
            <td>400</td>
            <td>Eleven C</td>
          </tr>
        </tbody>
      </table>
    </ng-template>

    <ng-template [ngIf]="especializations">
      <table class="table responsive-table striped">
        <thead>
          <tr>
            <th>Curso</th>
            <th>Instituição</th>
            <th>Horas</th>
            <th>Ano</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Criando Aplicativos Robustos com Ionic 3 </td>
            <td>Udemy</td>
            <td>15,5</td>
            <td>2018</td>
          </tr>
          <tr>
            <td>UX e Design Thinking, Experiência do Usuário nos negócio</td>
            <td>Udemy</td>
            <td>11,5</td>
            <td>2018</td>
          </tr>
          <tr>
            <td>Curso Desenvolvimento Nodejs e MongoDB</td>
            <td>Udemy</td>
            <td>15,5</td>
            <td>2018</td>
          </tr>
          <tr>
            <td>Do Zero a Nuvem: Uma Api Restful com Nodejs, Restfy e MongoDB</td>
            <td>Cod3r</td>
            <td>13</td>
            <td>2018</td>
          </tr>
          <tr>
            <td>Construindo Aplicações Web com o Novo Angular</td>
            <td>Cod3r</td>
            <td>16</td>
            <td>2017</td>
          </tr>
          <tr>
            <td>Angular 4 cruds e serviços</td>
            <td>School of net</td>
            <td>8</td>
            <td>2017</td>
          </tr>
          <tr>
            <td>Iniciando com Angular 4</td>
            <td>School of net</td>
            <td>4</td>
            <td>2017</td>
          </tr>
          <tr>
            <td>Typescrip</td>
            <td>School of net</td>
            <td>11</td>
            <td>2017</td>
          </tr>
          <tr>
            <td>Iniciando com laravel 5.4</td>
            <td>School of net</td>
            <td>5</td>
            <td>2017</td>
          </tr>
          <tr>
            <td>Python para Devs</td>
            <td>Udemy</td>
            <td>10</td>
            <td>2018</td>
          </tr>
          <tr>
            <td>Python Orientado a objetos</td>
            <td>Udemy</td>
            <td>5</td>
            <td>2018</td>
          </tr>
          <tr>
            <td>Iniciando com Python</td>
            <td>School of net</td>
            <td>5</td>
            <td>2018</td>
          </tr>
          <tr>
            <td>Java fundamentos da web</td>
            <td>Targettrust</td>
            <td>32</td>
            <td>2014</td>
          </tr>
          <tr>
            <td>JPA – Java Persistence API com Mor</td>
            <td>Targettrust</td>
            <td>28</td>
            <td>2014</td>
          </tr>
          <tr>
            <td>Desenvolvimento Dinâmico com java web</td>
            <td>Targettrust</td>
            <td>28</td>
            <td>2014</td>
          </tr>
          <tr>
            <td>PostgreSQL fundamentos</td>
            <td>Targettrust</td>
            <td>20</td>
            <td>2014</td>
          </tr>
          <tr>
            <td>Introdução ao banco de dados SQL</td>
            <td>Targettrust</td>
            <td>20</td>
            <td>2014</td>
          </tr>
          <tr>
            <td>HTML 5 e CSS3 para desenvolvedores</td>
            <td>Targettrust</td>
            <td>12</td>
            <td>2014</td>
          </tr>
          <tr>
            <td>Orientação a Objetos com UML</td>
            <td>Targettrust</td>
            <td>20</td>
            <td>2014</td>
          </tr>
          <tr>
            <td>Introdução ao Jquery</td>
            <td>Alfamidia</td>
            <td>20</td>
            <td>2014</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
