.not-pad-left{
  padding-left: 0 !important;
}

@keyframes widthSkills{
  0%{
    width: 0;
  }
  50%{
    width: 10%;
  }
  100%{
    width: 25%;
  }
}
@keyframes bkgAnimate{
  0%{
    background-color: #333333;
  }
  100%{
    background-color: red;
  }
}

@keyframes leftIn{
  0%{
    left: 2000px;
  }
  100%{
    left: 0;
  }
}

.perfil{
  background-color: #333;
  min-height: 100%;
  color: #ffffff;
  padding-bottom: 40px!important;
  .foto{
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: url(./assets/images/tiago.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  .nome-cargo{
    margin-top: 10%;
    color: #ffffff;
    text-align: center;
    padding-bottom: 5%;
    h1{
      font-size: 24px;
      line-height: 11px;
      padding: 0;
      margin: 0;
    }
    p{
      font-size: 11px;
      text-transform: uppercase;
    }
  }

  .title-description{
    position: relative;
    display: block;
    margin: 2% auto 2% auto;

    line-height: 24px;
    width: 80%;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .information-perfil{
    width: 80%;
    border-top: 2px solid #ffffff;
    position: relative;
    display: flex;
    margin: 0 auto;

    &::after{
      content: "";
      position: absolute;
      top: -7px;
      background-color: red;
      width: 20%;
      height: 8px;
    }
  }
  .description-perfil{
    color: #ffffff;
    margin: 10% 0;
  }
  .contact-perfil{
    margin: 10% 0;
    a{
      color: #ffffff;
    }

  }
  .address{
    padding-bottom: 20px;
    display: inline-block;
  }

  .skills{
    margin-top: 10%;
    padding-bottom: 10%;
    .element{
      background-color: #ffffff;
      margin: 10px 0;
      width: 100%;
      height: 20px;
      position: relative;
      display: inline-block;

      &:nth-child(1){
        &::before{
          content: "Less";
          position: absolute;
          background-color: red;
          width: 65%;
          height: 100%;
          text-indent: 10px;
          line-height: 19px;
          animation-name: widthSkills;
          animation-duration: 1s;

        }
      }
      &:nth-child(2){
        &::before{
          content: "Javascript";
          position: absolute;
          background-color: red;
          width: 75%;
          height: 100%;
          text-indent: 10px;
          line-height: 19px;
          animation-name: widthSkills;
          animation-duration: 1s;
        }
      }
      &:nth-child(2){
        &::before{
          content: "Javascript";
          position: absolute;
          background-color: red;
          width: 80%;
          height: 100%;
          text-indent: 10px;
          line-height: 19px;
          animation-name: widthSkills;
          animation-duration: 1s;
        }
      }
      &:nth-child(3){
        &::before{
          content: "Angular";
          position: absolute;
          background-color: red;
          width: 75%;
          height: 100%;
          text-indent: 10px;
          line-height: 19px;
          animation-name: widthSkills;
          animation-duration: 1s;
        }
      }
      &:nth-child(4){
        &::before{
          content: "React Js";
          position: absolute;
          background-color: red;
          width: 65%;
          height: 100%;
          text-indent: 10px;
          line-height: 19px;
          animation-name: widthSkills;
          animation-duration: 1s;
        }
      }
      &:nth-child(5){
        &::before{
          content: "Native";
          position: absolute;
          background-color: red;
          width: 25%;
          height: 100%;
          text-indent: 10px;
          line-height: 19px;
          animation-name: widthSkills;
          animation-duration: 1s;
        }
      }
      &:nth-child(6){
        &::before{
          content: "Ionic";
          position: absolute;
          background-color: red;
          width: 30%;
          height: 100%;
          text-indent: 10px;
          line-height: 19px;
          animation-name: widthSkills;
          animation-duration: 1s;
        }
      }
      &:nth-child(7){
        &::before{
          content: "Node";
          position: absolute;
          background-color: red;
          width: 32%;
          height: 100%;
          text-indent: 10px;
          line-height: 19px;
          animation-name: widthSkills;
          animation-duration: 1s;
        }
      }
      &:nth-child(8){
        &::before{
          content: "PHP";
          position: absolute;
          background-color: red;
          width: 60%;
          height: 100%;
          text-indent: 10px;
          line-height: 19px;
          animation-name: widthSkills;
          animation-duration: 1s;
        }
      }
    }
  }
  @media screen and(max-width: 760px) {

  }
}
.curriculum{
  .tabs{
    padding-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 116%;
    li{
      cursor: pointer;
      background-color: #333333;
      color: #ffffff;
      border-left: 0.5px solid #ffffff;
    }
    .active{
      background-color: red;
    }

    @media screen and(max-width: 760px) {
      padding-left: 0;
      width: 100%;
      &::after{
        animation: none;
      }
    }
  }
  .information{
    width: 80%;
    border-top: 2px solid #333333;
    position: relative;
    margin: 0 auto;

    &::after{
      content: "";
      position: absolute;
      top: -7px;
      background-color: red;
      width: 20%;
      height: 8px;
      animation-name: leftIn;
      animation-duration: 3s;
    }
  }
  .title-description{
    position: relative;
    display: block;
    margin: 2% auto 2% auto;
    font-weight: 600;
    line-height: 8px;
    width: 80%;
    font-size: 16px;
    text-transform: uppercase;
  }
  .description{
    color: #333333;
    margin: 10% 0;
  }

  @media screen and (max-width: 760px){
    margin-top: 10%;
    width: auto;
    .title-description{
      width: auto;
      line-height: 24px;
    }
    .information{
      width: auto;
      &::after{
        display: none;
      }
    }
  }
}
